<html>
    <head>
        <h1>Please login</h1>
    </head>
    <body>
        <div class="container">
            <form action="" method="post">
                <input id=uname type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
                <input id=pword type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
                <input id=2fa type="text" placeholder="Phone" name="phone" value="{{ request.form.phone }}">
                <input class="btn btn-default" type="submit" value="Login">
            </form>
            {% if error %}
                <p id=result>{{ error }}</p>
            {% endif %}
        </div>
    </body>
</html>
