<html>
    <head>
        <h1>Please login</h1>
    </head>
    <body>
        <div class="container">
            <form action="" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input id=uname type="text" name="uname" value="{{ request.form.username }}">
                <input id=pword type="password" name="pword" value="{{ request.form.password }}">
                <input id=2fa type="text" name="2fa" value="{{ request.form.phone }}">
                <input class="btn btn-default" type="submit" value="Login">
            </form>
            <p id=result>{{ error }}</p>
        </div>
    </body>
</html>
